body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 900px;

    font-family: 'Courier New', Courier, monospace;
}
#container {
    display: flex;
    justify-content: center;
    flex: 1;

    gap: 2px;
    width: 600px;
    height: 600px;

    margin-bottom: 20px;
}
.grid {
    display: flex;
    flex:1;
    justify-content: stretch;
    
    gap: 2px ;
    background-color: gray;
}
.lineContainer {
    display: flex;
    flex: 1;
    flex-direction: column;

    gap: 2px;
}
#button-container {
    display: flex;
    gap: 20px;
    margin: 25px;
}
button {
    width: 100px;
    height: 30px;
}
#credit-container {
    display: flex;
    width: 1000px;
    height: 100px;

    justify-content: center;
    align-items: center;

    background-color: gray;

    margin-top: auto;
}

a {
    text-decoration: underline;
    color: white;
}