body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.container {
    width: 350px;
    height: 600px;
    background-color: black;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-radius: 25px;
    padding: 10px;

    margin-top: 100px;
}
.row-container {
    display: flex;
    flex: 1;
}
button {
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;

    margin: 5px;

    background-color: #606060;
    color: white;

    border-radius: 1000px;
    border: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#display {
    display: flex;
    flex: 1;

    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    background-color: white;

    justify-content: end;
    align-items: center;

    font-size: 50px;
}
.special-button {
    border-radius: 0;
    width: 200px;
    height: 30px;
    font-size: 20px;

    background-color: crimson;
}

#credit-container {
    display: flex;
    width: 1000px;
    height: 100px;

    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-top: 110px;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    text-decoration: underline;
    color: darkorange;
}

.operator-button {
    background-color: darkorange;
    color: white;
}

#display {
    background-color: black;
    color: white;
}